@charset "UTF-8";

/* 全体レイアウト
--------------------------------------- */
.wrap{
  width: 100%;
  margin: 0 auto;
}
.flex{
  display: flex;
}

/* ナビ
--------------------------------------- */
.nav{
  align-items: center;
  display: flex;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
.nav-list{
  background:lightyellow;
  list-style: none;
  padding: 0 20px;
}
.nav-list li{
  margin: 10px;
}
a{
  color:black;
}
a:hover{
  color:red;
}

/* トップ
--------------------------------------- */
.top{
  position: relative;
  width: 100%;
  height: 800px;
  background:lightslategrey;
}
.top .menus-ttl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* メニュー
--------------------------------------- */
.menus{
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  margin: 100px auto 500px;
  width: 400px;
}
.menus-ttl{
  color:white;
  font-weight: bold;
  font-size: 32px;
}
.color-1{
  background:lightskyblue;
}
.color-2{
  background:lightpink
}
.color-3{
  background:lightgreen
}